@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* General Page Styling */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
}

body::-webkit-scrollbar {
    width: 10px;
}


body::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
}

#center {
    width: 70%;
    margin: auto;
}

#title {
    margin-top: 7.5vh;
    font-size: 70px;
    text-align: center;
}


/* Team Styling */
#team #team-title {
    margin-top: 5%;
    font-size: 55px;
    text-align: center;
}

#team #team-desc {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 17px;
}

#team #member-list {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

#team .member {
    flex: 1;
    width: 30%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    padding: 2% 0%;
    border-radius: 10px;
    transition: 0.25s;
    margin: 0 2%;
}

#team .member:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 10px 18px;
}

#team .pfp-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 15%;
    margin: auto;
}

#team .pfp-wrapper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#team .member-name {
    font-size: 27.5px;
    margin-top: 3.5%;
}

#team .member-desc {
    font-size: 15px;
    color: rgb(87, 87, 87);
}


/* Process Styling */
#process-title {
    margin-top: 5%;
    font-size: 55px;
    text-align: center;
}

.step {
    margin-top: 3%;
}

.heading {
    font-size: 40px;
}

pre code {
    display: block;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    min-width: 100px;
    padding: 0% 2.5%;
    background: #303030;
    word-wrap: break-word;
    box-decoration-break: clone;
    border-radius: 10px;
    color: white;
    margin: 1.15% 0;
    max-height: 60vh;
    overflow-y: auto;
}

pre code::-webkit-scrollbar {
    width: 10px;
}
pre code::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.683);
    border-radius: 10px;
}
  

/* Footer */
footer {
    background-color: black;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    margin: auto;
    padding: 20px 10px;
}

footer h6 {
    padding-left: 50px;
}

#footer-spacer {
    height: 15px;
}

